.indexBody{
    background-image: url(https://i.ytimg.com/vi/Hq2pavmew58/maxresdefault.jpg);
    background-repeat: no-repeat;
}

.tablesBody{
    background-image: url(https://www.wormsandgermsblog.com/files/2018/02/Raw-chicken.jpg);
    /* background-repeat: no-repeat; */
}

.resBody{
    background-image: url(https://i.ytimg.com/vi/Hq2pavmew58/maxresdefault.jpg);
    background-repeat: no-repeat;
}
